body {
  background: #222;
}
#container {
  position: relative;
  width: 100px;
  margin: 40vh auto;
}
.burger {
  cursor: pointer;
}
.burger span {
  display: block;
  width: 100px;
  height: 14px;
  background: #eee;
  position: relative;
  margin-bottom: 10px;
  top: 0;
  transition: all 0.4s ease-in-out;
}
.burger.open span:nth-child(2),
.burger.open span:nth-child(3) {
  width: 0;
  opacity: 0;
}
.burger.open span:nth-child(1) {
  transform: rotate(-45deg);
  top: 35px;
}
.burger.open span:nth-child(4) {
  transform: rotate(45deg);
  top: -35px;
}
