@font-face {
  font-family: 'Aban';
  src: url(./fonts/Aban.ttf);
}
body {
  height:90vh;
  display:flex;
  justify-content: center;
  align-items: center;
  direction: rtl;
  background:#ccc;
  font-family: "Aban", Tahoma;
}
.book-container {
  position: absolute;
  /* top: 50%;
  right:50%; */
  /* transform: translate(-50%, -50%); */
}
.cover {
  width:400px;
  height:600px;
  padding: 30px;
  background: #fff;
  border-right: 20px solid #ff2929;
  transform: rotate(45deg) skew(-10deg) scale(0.8);
  box-shadow: 50px 50px 50px rgba(0,0,0,0.5);
}

.cover h1 {
  padding: 0;
  margin:0 0 20px 0;
  text-align: center;
  font-size:28px;
  color: #9e9e9e;
}
.cover p {
  padding: 0;
  margin: 0;
  text-align: justify;
  font-size:15px;
  font-weight:500;
}

.cover::before {
  content: " ";
  position: absolute;
  top: 0;
  right:0;
  width: 50px;
  height: 100%;
  background: #8e0e0e;
  transform: skewY(45deg) translate(69px, -44px);
}
.cover::after {
  content: " ";
  position: absolute;
  bottom:0;
  right:0;
  width:104.5%;
  height: 50px;
  background:#ccc;
  transform: skewX(45deg) translate(-6px, 49px);
}