body {
  height:90vh;
  display:flex;
  justify-content: center;
  align-items: center;
}
.google-logo {
  position: absolute;
  width: 130px;
  height:130px;
  background: #fff;
  border-radius: 50%;
  border-top: 50px solid #ff4031;
  border-right: 50px solid #0086f9;
  border-left: 50px solid #ffbd00;
  border-bottom: 50px solid #00aa4b;
}
.google-logo::before {
  content: '';
  position: absolute;
  border-top: 100px solid transparent;
  border-right: 100px solid #fff;
  border-left: 100px solid transparent;
  border-bottom: 100px solid transparent;
  transform: rotate(90deg);
  top:-155px;
  right: -155px;
}
.google-logo::after {
  content: '';
  position: absolute;
  width: 100px;
  height:50px;
  background: #0086f9;
  right: -40px;
  top:45px;
}